@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.bg_cnr_6 {
  background-color: #ffffff;
  padding: 20px;
}
.leaf-button {
  background-color: #007854;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 18px;
  border-width: 0px;
  color: #ffffff;
  font-size: 20px;
  padding: 20px;
}
.clr6 {
  color: black;
}
.button6 {
  border-style: dashed;
  background-color: #ffd0b5;
  border-color: #841003;
  color: #841003;
}
.button7 {
  border-style: dotted;
  background-color: #fab8d9;
  border-color: #5c0b33;
  border-width: 5px;
  color: #5c0b33;
}
.button8 {
  border-style: solid;
  background-color: #ffffff;
  border-color: #007854;
  color: black;
  border-width: 5px;
  border-radius: 40px;
  height: 45px;
}
